{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Daftar Buku</h2>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
              <td>{{ book.judul }}</td>
              <td>{{ book.penulis }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}
