{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h4>Data Buku</h4>
    <a href="/tambah-buku/" class="btn btn-primary btn-sm mb-2">Tambah Buku</a>
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Judul</th>
          <th>Penulis</th>
          <th>Penerbit</th>
          <th>Jumlah</th>
          <th>Kelompok</th>
        </tr>
      </thead>
      <tbody>
      {% for book in books %}
          <tr>
            <td><a href="{% url 'ubah_buku' book.id %}">{{ book.judul }}</a></td>
            <td>{{ book.penulis }}</td>
            <td>{{ book.penerbit }}</td>
            <td>{{ book.jumlah }} Buah</td>
            <td>{{ book.kelompok }}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
